<div class="container col-md-6" style="margin-top: 3vh;">
  <app-candidato></app-candidato>
  <hr>
  <app-escolaridade></app-escolaridade>
  <hr>
  <app-comportamental></app-comportamental>
  <div class="mb-3 form-floating">
    <textarea name="" class="form-control" id="floatingTextarea" cols="30" rows="10" style="height: 15vh;" required></textarea>
    <label for="" class="form-floating">Objetivos profissionais:</label>
  </div>
  <app-trabalho></app-trabalho>
  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <a class="btn btn-outline-dark btn-lg col-md-6" routerLink="/profile">
      Voltar
    </a>
    <button class="btn btn-dark btn-lg col-md-6">
      Enviar
    </button>
  </div>
  <br>
</div>
