<div class="container col-md-6">
  <form>
    <div class="mb-3">
      <label class="form-floating" for="">Nome Completo</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label" for="">Nome Social</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label" for="">Data Nascimento</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label" for="">CPF</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label" for="">Endereço</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label" for="">E-mail</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label" for="">Telefone</label>
      <input type="text" class="form-control">
    </div>
      <div class="mb-3">
        <button class="btn btn-outline-dark">
          Voltar
        </button>
        <button class="btn btn-dark">
          Enviar
        </button>
      </div>
</form>
</div>
