<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <!-- <img src="./../assets/matchjob.png" alt="logo match job" width="30px" class="d-inline-block align-text-top"> -->
      Match Job
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarExpand" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarExpand" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" aria-labelledby="navbarExpand">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="selected">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="selected">Fale conosco</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Apoie</a>
        </li>
      </ul>
      <!-- <form class="d-flex"> -->
        <!-- <input class="form-control me-2" type="text" aria-label="Search"> -->
        <!-- <button class="btn btn-outline-success" (click)="obterUF()">UF</button> -->
        <!-- <li class="nav-item"> -->
          <!-- <i class="person-fill link-light"></i> -->
          <a class="nav-link link-light" routerLink="login" >Login</a>
          <!-- </li> -->
          <!-- </form> -->
        </div>
      </div>
    </nav>
