<div class="container col-md-6" style="margin-top: 3vh;">
  <form>
    <div class="mb-3 form-floating">
      <input type="text" class="form-control" id="floatingInput" >
      <label class="form-floating" for="floatingInput">Razão Social</label>
    </div>
    <div class="mb-3 form-floating">
      <input type="text" class="form-control" id="floatingInput" >
      <label class="form-label" for="floatingInput">Nome Fantasia</label>
    </div>
    <div class="mb-3 form-floating">
      <input type="text" class="form-control">
      <label class="form-label" for="">Data de Abertura</label>
    </div>
    <div class="mb-3 form-floating">
      <input type="text" class="form-control">
      <label class="form-label" for="">CNPJ</label>
    </div>
    <div class="mb-3 form-floating">
      <input type="text" class="form-control">
      <label class="form-label" for="">Endereço</label>
    </div>
    <div class="mb-3 form-floating">
      <input type="text" class="form-control">
      <label class="form-label" for="">E-mail</label>
    </div>
    <div class="mb-3 form-floating">
      <input type="text" class="form-control">
      <label class="form-label" for="">Telefone</label>
    </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-dark btn-lg col-md-6" routerLink="/profile">
          Voltar
        </a>
        <button class="btn btn-dark btn-lg col-md-6">
          Enviar
        </button>
      </div>
</form>
</div>
