
<div class="mb-3 form-floating">
  <select class="form-control transparente">
    <option *ngFor="let ecsolaridade of listarEnsino" value="{{ecsolaridade.id}}">{{ecsolaridade.ensino}}</option>
  </select>
  <label class="form-floating">Graduação:</label>
</div>

<div class="mb-3 form-floating">
  <input type="text" class="form-control">
  <label class="form-floating">Instituição:</label>
</div>

<div class="mb-3 form-floating">
  <input type="text" class="form-control">
  <label class="form-floating">Nome do Curso:</label>
</div>

<div class="row row-cols-2 g-2">
  <div class="mb-3 form-floating">
    <input type="text" class="form-control">
    <label class="form-floating">Cidade:</label>
  </div>

  <app-uf></app-uf>

</div>

<div class="row row-cols-2 g-2">
  <div class="mb-3 form-floating">
    <input type="number" class="form-control"  min="1945" max="2021" step="1">
    <label class="form-floating">Ano de Inicio:</label>
  </div>

  <div class="mb-3 form-floating">
    <input type="number" class="form-control"  min="1945" max="2027" step="1">
    <label class="form-floating">Ano de Termino:</label>
  </div>
</div>

<div class="mb-3 form-floating d-flex flex-row-reverse">
  <button class="btn btn-lg rounded-circle btn-dark">＋</button>
</div>
<!-- <div class="mb-3 form-floating d-flex flex-row-reverse"> -->
  <!-- <button class="btn btn-lg btn-dark">Enviar</button> -->
<!-- </div> -->
