<div class="mb-3 form-floating">
  <input type="text" class="form-control">
  <label for="" class="form-floating">Nome Empresa:</label>
</div>

<div class="row row-cols-2 g-2">
  <div class="mb-3 form-floating">
    <input type="text" class="form-control">
    <label for="" class="form-floating">Cidade:</label>
  </div>
  <app-uf></app-uf>

</div>

<div class="row row-cols-2 g-2">
  <div class="mb-3 form-floating">
    <input type="number" class="form-control"  min="1945" max="2021" step="1">
    <label for="" class="form-floating">Ano de Inicio:</label>
  </div>

  <div class="mb-3 form-floating">
    <input type="number" class="form-control"  min="1945" max="2027" step="1">
    <label for="" class="form-floating">Ano de Termino:</label>
  </div>
</div>

<div class="mb-3 form-floating">
  <textarea name="" class="form-control" id="floatingTextarea" cols="30" rows="10" style="height: 20vh;" required></textarea>
  <label for="" class="form-floating">Atividades Desempenhadas:</label>
</div>
<div class="mb-3 form-floating d-flex flex-row-reverse">
  <button class="btn btn-lg rounded-circle btn-dark">＋</button>
</div>
<!-- <div class="mb-3 form-floating d-flex flex-row-reverse"> -->
  <!-- <button class="btn btn-lg btn-dark">Enviar</button> -->
<!-- </div> -->
