<div class="container">
  <form class="needs-validation" novalidate>
    <div>&nbsp;</div>
    <div class="mb-2">
      <label for="validationCustomUsername" class="form-label">Email</label>
      <input type="email" class="form-control" id="validationCustomUsername" aria-describedby="emailHelp" required>
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      <div class="valid-feedback">Obrigado</div>
      <div class="invalid-feedback">Invalido</div>
    </div>
    <div class="mb-2">
      <label for="InputPassword1" class="form-label">Senha atual</label>
      <input type="password" class="form-control" id="InputPassword1">
    </div>
    <div class="mb-2">
      <label for="InputPassword1" class="form-label">Nova senha</label>
      <input type="password" class="form-control" id="InputPassword1">
    </div>
    <div class="mb-2">
      <label for="InputPassword1" class="form-label">Confirmar nova senha</label>
      <input type="password" class="form-control" id="InputPassword1">
    </div>
    <!-- <div class="mb-2 form-check">
      <input type="checkbox" class="form-check-input" id="Check1">
      <label class="form-check-label" for="Check1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-dark">Enviar</button>
  </form>

</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
