<div class="container col-md-6" style="margin-top: 5vh;">

  <div class="row mb-2 g-2">
    <div class="mb-6 form-floating">
      <input type="email" class="form-control" required>
      <label for="validationCustomUsername" class="form-floating">Email</label>
    </div>
  </div>

  <div class="row mb-2 g-2">
    <div class="mb-6 form-floating">
      <input type="password" class="form-control" id="InputPassword1">
      <label for="InputPassword1" class="form-label">Senha atual</label>
    </div>
  </div>

  <div class="row mb-2 g-2">
    <div class="mb-6 form-floating">
      <input type="password" class="form-control" id="InputPassword1">
      <label for="InputPassword1" class="form-label">Nova senha</label>
    </div>
  </div>

  <div class="row mb-2 g-2">
      <div class="mb-6 form-floating">
        <input type="password" class="form-control" id="InputPassword1">
        <label for="InputPassword1" class="form-label">Confirmar nova senha</label>
      </div>

      <button button type="submit" class="btn btn-dark">Enviar</button>
  </div>
